export EXPECTED_LOC_VAR="Local EnvVar"
export EXPECTED_GLOB_VAR="This is a global value. 1234"
export EXPECTED_ESC_VAR="Escaped variable: \${ESC_VAR}"
export EXPECTED_CRINIT_TASK_NAME="smoketest_env"
export EXPECTED_GLOB_REF="Substituted global var: <This is a global value. 1234>"
export EXPECTED_EXP_VAR="This is a global value. 12345678"
export EXPECTED_OVR_VAR="Hello, local World!"
export EXPECTED_EMPTY_VAR=""
export EXPECTED_ESCSEQ_VAR="\" tabs    \""
export EXPECTED_HEX_ESC_VAR="hex hex"
