Checks: '-*,readability-identifier-naming'
CheckOptions:
  - { key: readability-identifier-naming.TypedefCase,          value: CamelCase }
  - { key: readability-identifier-naming.TypedefPrefix,        value: ebcl_     }
  - { key: readability-identifier-naming.TypedefSuffix,        value: _t        }
  - { key: readability-identifier-naming.StructCase,           value: CamelCase }
  - { key: readability-identifier-naming.StructPrefix,         value: ebcl_     }
  - { key: readability-identifier-naming.StructSuffix,         value: ebcl_     }
  - { key: readability-identifier-naming.EnumCase,             value: CamelCase }
  - { key: readability-identifier-naming.EnumPrefix,           value: ebcl_     }
  - { key: readability-identifier-naming.EnumSuffix,           value: _t        }
  - { key: readability-identifier-naming.UnionCase,            value: CamelCase }
  - { key: readability-identifier-naming.UnionPrefix,          value: ebcl_     }
  - { key: readability-identifier-naming.UnionSuffix,          value: _t        }
  - { key: readability-identifier-naming.FunctionCase,         value: camelBack }
  - { key: readability-identifier-naming.FunctionPrefix,       value: EBCL_     }
  - { key: readability-identifier-naming.VariableCase,         value: camelBack }
  - { key: readability-identifier-naming.ParameterCase,        value: camelBack }
  - { key: readability-identifier-naming.MemberCase,           value: camelBack }
  - { key: readability-identifier-naming.GlobalVariableCase,   value: camelBack }
  - { key: readability-identifier-naming.GlobalVariablePrefix, value: EBCL_     }
  - { key: readability-identifier-naming.GlobalConstantCase,   value: CamelBack }
  - { key: readability-identifier-naming.GlobalConstantPrefix, value: EBCL_     }

