#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --buildsystem=cmake --builddirectory=debian/build

override_dh_auto_install:
	dh_auto_install

	mkdir -p $(CURDIR)/debian/tmp/sbin
	ln -svr $(CURDIR)/debian/tmp/usr/bin/crinit \
		$(CURDIR)/debian/tmp/sbin/init

override_dh_clean:
	dh_clean
	rm -rf $(CURDIR)/doc/html
